#blockpostcodenl, #blockpostcodenl h3{
	border-bottom:1px solid #BDBEC2;
}
#blockpostcodenl_results{
	text-align:left;
	margin-left:31%;
	height:45px;
	width:45%;
	font-weight:bold;
}
#blockpostcodenl_results .pcnl_error{
	color:red;
}